:root {
  --base-letter-spacing: -0.05px;
  --blue: hsl(203, 100%, 35%);
  --fallback-fonts: "Inter", system-ui, sans-serif;
}

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/InterDisplay-roman.var.woff2") format("woff2");
}

body {
  font-family: "Inter var", var(--fallback-fonts);
  letter-spacing: var(--base-letter-spacing);
  margin: 5vw;
}

h1, h2, p, figure {
  margin: 0;
}

p:not(:last-child, .label) {
  margin-bottom: 5px;
}

h1 {
  background: linear-gradient(12deg, #006eb3, #0085b0, #009dae, #00b4ac, #00ccaa);
  font-family: "InterDisplay var", "Inter Display", var(--fallback-fonts);
  font-variation-settings: "wght" 700;
  margin: 0;
  letter-spacing: calc(var(--base-letter-spacing) * 5);
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-variation-settings: "wght" 550;
  letter-spacing: calc(var(--base-letter-spacing) * 2.5);
}

a {
  align-items: center;
  color: inherit;
  font-variation-settings: "wght" 600;
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

svg {
  zoom: 0.65;
}

svg:hover {
  fill: var(--blue);
}

button, input {
  outline: 1.5px solid #ccc;
  border: none;
  border-radius: 5px;
  font: inherit;
  padding: 7px;
  transition: 0.1s;
}

:is(button, input):focus{
  box-shadow: 0 0 0 4px hsla(203, 80%, 46%, 0.4);
  outline: 2px solid hsla(203, 80%, 46%, 0.3);
  border-radius: 2px;
}

input[type="text"] {
  background-color: hsl(0, 0%, 97%);
  display: block;
}

input[type="text"]::placeholder {
  color: #666;
  user-select: none;
}

input[type="submit"] {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: hsl(0, 0%, 87%);
}

input[type="submit"]:focus {
  background-color: var(--blue);
  color: white;
}

label, .label {
  color: #666;
  font-variation-settings: "wght" 500;
  user-select: none;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 5px;
}

form > div {
  align-items: center;
  column-gap: 10px;
  display: flex;
  margin-top: 5px;
}

img {
  max-width: 100%;
}

.faux-link {
  all: unset;
  cursor: pointer;
  color: var(--blue);
  font-variation-settings: "wght" 650;
  margin-top: 5px;
}

.label {
  margin-bottom: 5px;
}

@media screen and (max-width: 849px) {
  input[type="text"] {
    width: 100%;
  }

  form > div {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .success-message {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 850px) {
  body {
    align-items: center;
    align-content: center;
    column-gap: clamp(15px, 10vw, 35px);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    min-height: 100vh;
    margin: 0 auto;
    width: 160vmin;
  }

  h1, header > p, a {
    text-align: right;
  }

  a {
    column-gap: 5px;
    display: flex;
    justify-content: end;
  }

  figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  h1 {
    letter-spacing: calc(var(--base-letter-spacing) * 10);
    font-size: 35px;
  }

  .success-message {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .big {
    font-feature-settings: "cv06";
    font-size: clamp(40px, 10vw, 45px);
  }
}
