<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <title>Successfully processed!</title>
      <!-- CSS  -->
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
      <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
      <h1>Your image has been successfully processed!</h1>
      <figure>
        <p id="original" class="label">Original image:</p>
        <img src="{{ org }}" alt="Original image">

        <p id="processed" class="label">Processed image:</p>
        <img src="{{ data }}" alt="Processed image">
      </figure>
    </section>
    <!--  Scripts-->
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.js"></script>
    <script src="/static/js/init.js"></script>
  </body>
</html>
