<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
      <title>Successfully colourised!</title>
      <!--Icons-->
      <link rel="icon" href="/static/icons/favicon.png">
      <!--Resource hints-->
      <link rel="preload" href="https://rsms.me/inter/font-files/Inter-roman.var.woff2" as="font" type="font/woff2" crossorigin>
      <link rel="preload" href="https://rsms.me/inter/font-files/InterDisplay-roman.var.woff2" as="font" type="font/woff2" crossorigin>
      <!-- CSS  -->
      <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body class="grid-one-two gradient">

    <div class="success-message">
      <h1>Your image has been successfully colourised!</h1>
      <a href id="restart" class="faux-button">Colourise another image!</a>
    </div>

    <figure>
      <div class="panel">
        <p id="original" class="label">Original image:</p>
        <img src="{{ org }}" alt="Original image">
      </div>
      <div class="panel">
        <p id="processed" class="label">Processed image:</p>
        <img src="{{ data }}" alt="Processed image">
      </div>
    </figure>

    <footer>
      <p><a href="https://github.com/ThomasRettig/Kromatic" target="_blank">View on Github</a></p>
    </footer>
    
  </body>
</html>
